asgiref==3.8.1
build==1.2.2.post1
click==8.1.8
Django==5.2
django-crispy-forms==2.4
django-filter==25.1
djangorestframework==3.16.0
et_xmlfile==2.0.0
numpy==2.2.5
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pip-tools==7.4.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==79.0.1
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
wheel==0.45.1
